body {
    background: #212123;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: #212123;
    padding: 40px;
}

.section-title {
    color: var(--cornsilk);
}

.dashboard-container {
    height: fit-content;
    width: 120vh;
    border-radius: 15px;
    background: var(--davys-gray);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.dashboard-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bolder;
}

.dashboard-title {
    color: var(--persimmon);
    font-size: 35px;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
}

.left-section {
    align-items: start;
    justify-content: start;
    width: 60%;
}

.right-section {
    max-width: 40%;
    align-items: center;
    justify-content: start;
    padding: 10px 0 20px 20px;
    border-left: 3px solid var(--persimmon);
}

.best-seller-product {
    aspect-ratio: 4/5;
    object-fit: cover;
    margin: 0 20px 20px;
    height: 60%;
    max-width: 100%;
    border-radius: 10px;
}

.dashboard-item-info {
    line-height: 1;
    border-top: 2px solid var(--persimmon);
    width: 100%;
    padding: 20px 0;
    color: var(--cornsilk);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.dashboard-item-info h1 {
    text-decoration: underline;
}

.dashboard-item-info h2, h3 {
    padding-left: 5px;
    font-weight: bold;
}

.dashboard-item-info h3 {
    color: var(--tiffany-blue);
    margin-top: 5%;
}

#table {
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    backdrop-filter: brightness(1.1);
}

.enterpriseImage {
    width: 10vh;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}

#product-search {
    width: 60%;
    margin: 10px 30px 30px;
    padding: 2px;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: var(--white);
    color: var(--davys-gray);
}

.register-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: calc(10px + 1rem);
    padding: 1rem 1rem 2rem;
    gap: 5px;
    width: fit-content;
    color: var(--persimmon);
    border: 2px solid var(--persimmon);
    background-color: var(--davys-gray);
    font-size: 60px;
    transition: all 0.2s ease-out;
}

.register-btn h1 {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.register-btn:hover {
    filter: brightness(1.2);
}

.register-btn:active {
    color: var(--davys-gray);
    border: 2px solid var(--davys-gray);
    background-color: var(--persimmon);
}

.multcharts {
    width: 100%;
}

#dashs {
    display: flex;
    flex-wrap: wrap;
}

.dash{
    flex: 1 1 45%;
    max-width: 50%;
}

.info-card {
    background-color: var(--davys-gray);
    box-shadow:
            2px 2px 10px rgba(0,0,0, 1),
            -2px -2px 8px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    margin: 12% auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 50px;
        font-weight: bold;
        color: var(--cornsilk);
    }
    h3, h5 {
        color: var(--persimmon);
    }
}